.app {
  background-image: url('../public/images/app-background-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: sans-serif;
  }

.app-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 420px;
  max-height: 420px;
  min-width: 400px;
  border: 10px 10px black;
  background-color: aliceblue;
  border-radius: 3px;
  box-shadow: 2px 2px #888888;
  padding: 30px;
}

.title {
  font-size: 30px;
  padding-bottom: 20px;
  font-weight: bold;
}

.button {
  float: right;
  cursor: pointer;
}
